include ../stamp/stamp

mixin b_preview(data)
  +b("section").preview
    +e.text_type_year #{data[0]}
    +e.text_type_gold #{data[1]}
    +e.text_type_tsn #{data[2]}
    +e.A.text_type_link(href='#info') #{data[3]}
    +e.stamp
      +stamp
    +e.text_type_start.bounceb #{data[4]}
    +e.A.text_type_arrow.bounceb(href='#start')

  +b.help-info._dislpay_show
    +e.circle
      +e.pos_inside
        +b_paragraph(data[5])._type_yellow._text_center

